doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    div(class="top-box")
      a(href="/")
        i.fas.fa-long-arrow-alt-left.back-icon
      p.movie-date #{month}.#{day}
    .wrapper
      .img-wrapper
        a.trailer(target="_blank" href=d.trailer style="background-image: url("+d.cover+")")
      .movie-wrapper
        h2.movie-title #{d.title}
        .info-wrapper
          if d.hbo != null
            .info-item
              p.info-title Nézd itt:
              .info-content
                a(href=d.hbo target="_blank") HBO
          .info-item
            p.info-title Értékelés:
            .info-content
              a #{d.rating}
              span /10
          .info-item
            p.info-title Hossz:
            .info-content
              a #{d.length}
          .info-item
            p.info-title Kiadás:
            .info-content
              a #{d.released}
          each c in Object.keys(d.cast)
            .info-item
              p.info-title #{config.translations[c]}:
              .info-content
                each cast in d.cast[c]
                  a(href=cast.imdb target="_blank") #{cast.name}