doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    div(class="top-box")
      a(href="/")
        i.fas.fa-long-arrow-alt-left.back-icon
      p.movie-date #{month}.#{day}
    .wrapper
      .img-wrapper
        a.trailer(target="_blank" href=d.trailer style="background-image: url("+d.cover+")")
      .movie-wrapper
        h2.movie-title #{d.title}
        .info-wrapper
          if d.hbo != null
            .info-item
              p.info-title Nézd:
              .info-content
                a(href=d.hbo) HBO
          .info-item
            p.info-title Értékelés:
            .info-content
              a #{d.rating}
              span /10
          .info-item
            p.info-title Hossz:
            .info-content
              a #{d.length}
          .info-item
            p.info-title Kiadás:
            .info-content
              a #{d.released}
          .info-item
            p.info-title Rendezők:
            .info-content
              each dir in d.directors
                a(target="_blank" href=dir.imdb) #{dir.name}
          .info-item
            p.info-title Írók:
            .info-content
              each wri in d.writers
                a(target="_blank" href=wri.imdb) #{wri.name}
          .info-item
            p.info-title Sztárok:
            .info-content
              each star in d.stars
                a(target="_blank" href=star.imdb) #{star.name}